*{
    margin: 0px;
    padding: 0px;
}

div #general
{
    padding: 500px;
    width: 960px; 
    height: 800px;
    background-color: white;
}

div #foto
{
    float: left;
    width: 400px; 
    height: 410px;
    background-color:white;
    margin-left: 20px;
}

div #titulo
{
    margin-top: 20px;
    width: 1500px;
    height: 40px;
    background-color:white
}

div #contenido
{
    /* float: right; */
    margin-top: 50px;
    width: 1490px; 
    height: 380px;
    text-align: justify;
    background-color:white;
    font-style: arial;
}

div #texto
{
    text-align: justify;
    width: 1450px;
    height: 580px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:white;
    font-style: arial;
}
