*{
    margin: 0px;
    padding: 0px;
}

div #general
{
    margin: auto;
    margin-top: 50px;
    width: 960px; 
    height: 800px;
    background-color: white
}

div #foto
{
    float: left;
    width: 400px; 
    height: 410px;
    background-color:white;
    margin-left: 20px;
}

div #titulo
{
    margin-top: 20px;
    width: 1500px;
    height: 40px;
    background-color:white
}

div #contenido
{
    /* float: right; */
    margin-top: 50px;
    width: 1490px; 
    height: 380px;
    text-align: justify;
    background-color:white;
    font-style: arial;
}

div #texto
{
    text-align: justify;
    width: 1450px;
    height: 580px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:white;
    font-style: arial;
}

/* NAV BAR */
.navbar{
    margin-top: 20px;
    background-color:#0f265c;
    border-radius: 30px;
  }
  
  .navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    color: blue;
}

.navbar ul{
    /* overflow: auto; */
    font-style: arial;
    font-size:25px;
    background-color: #0f265c;
    color: white;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    font-style: arial;
    font-size:25px;
    color: white;
}
.navbar li a:hover{
    color: rgb(93, 47, 148)
}
