/* ESTILOS COMUNIDADES -> */
.card-comunidades {
    background-color:#eeeeee;
    width: 80%;
    padding: 20px;
    margin: 30px;
    /* align-items: center; */
    align-self: center;
    text-align: justify;
    border-radius: 30px;
}

.d-block{
    width: 350px;
    height: 350px;
}
/* <- ESTILOS COMUNIDADES */

/* ESTILOS GRUPOS -> */

.container-grupos {
    width: 100%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items:center; 
}

.card-grupos {
    background-color:#eeeeee;
    width: 30%;
    padding: 20px;
    margin: 10px;
    flex-flow: row wrap;
    align-self:center;
    align-self:stretch;
    text-align: justify;
    border-radius: 30px;
}

img.logo{
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
  }

.readMore_btn {
    background-color: #0f265c;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px 0px #0f265c;
    cursor: pointer;
}

.readMore_btn:hover {
    box-shadow: none;
    background-color: black;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}


.hideText {
    display: none;
}

.showText {
    display: block;
}
/* <- ESTILOS GRUPOS */