/* ESTILOS COMUNIDADES -> */
.card-comunidades {
    background-color:#eeeeee;
    width: 80%;
    padding: 20px;
    margin: 30px;
    /* align-items: center; */
    align-self: center;
    text-align: justify;
    border-radius: 30px;
}

.d-block{
    width: 350px;
    height: 350px;
}
/* <- ESTILOS COMUNIDADES */

/* ESTILOS GRUPOS -> */

/* <- ESTILOS GRUPOS */